APPLICATION_NAME=SESSION_CONTAINER
#      Number of messages to be sent to the application at one time from the server. 接收消息推送队列的最大容量
MAX_RTRV_MESSAGES=50
#FIX Session Parameters
#1. General Parameters : These are parameters that identify the session. They are mandatory per each session you define.
#    The name of the organization,as it is represented in the FIX protocol.
SENDER_COMP_ID[0]=CYHUG1
#    The name of the FIX partner organization,as it is represented in the FIX protocol.
TARGET_COMP_ID[0]=GL
#    The FIX version both sides are working with.
FIX_VERSION[0]=FIX.4.2
#    Whether the FIX session runs in store and forward,or real time.  REAL_TIME or STORE_AND_FORWARD(default)
MODE[0]=REAL_TIME
#    What the FIX session should do when a rejection occurs   CLOSE(default)   or CONTINUE
ON_UNKNOWN_REJECT[0]=CONTINUE
#    Represents the time interval (in seconds) within which a heartbeat must be sent to the other side.  30(default)
HEARTBT_INT[0]=30
#   Represents the maximum time interval (in seconds) that it takes for a heartbeat to be sent from the FIX partner until it is received on this side by the FIX Engine. Used also for communication tuning.  5(default)
HEARTBT_LATENCY[0]=5
#   Represents the time interval (in seconds) an EOD initiator should wait for a reply from the FIX partner before resetting the files and sequence numbers. Used also for communication tuning.   10 default
IN_EOD_TIMEOUT[0]=10
#   Represents the time interval (in seconds) a test request should wait for a reply from the FIX partner. Used also for communication tuning.  25
IN_SYNC_TIMEOUT[0]=25
#   Represents the time interval (in seconds) each side should wait after successful logon before starting to send messages. Used also for communication tuning.  10
POST_LOGIN_TIMEOUT[0]=5
#   Represents the number of attempts the engine should make to reconnect when a communication problem arises,before closing the connection. Used also for communication tuning.  3
RECONNECT_COUNT[0]=3
#   Represents thetime interval (in seconds) set when a re-send request is sent. In case only part of the messages (or none) are received when this time elapses, a new request is issued for the remaining message gap. Used also for communication tuning.  10
RESTORE_TIMEOUT[0]=15
#   Indicates whether to try to reconnect after the other side of the connection has initiated log out. Y(default) or N.
#ON_LOGOUT_RECONNECT[0]=Y
#2. Operator Settings
# Indicates whether an operator application can connect to the given session/application.  Y(default) or N.
SUPPORT_OPERATORS=N
#3. End of Day (EOD) and Auto-scheduling Settings
# Time of day to close the session. HH:MM  None
AUTO_CLOSE_TIME[0]=23:00
# Time of day to open the session. HH:MM  None
AUTO_OPEN_TIME[0]=06:00
# Agreed EOD time for scheduled EOD. HH:MM None
EOD_STANDARD_TIME[0]=04:00
#--the following parameters are required if you want to handle EOD procedures. Note that these are required whether you handle EOD procedures automatically or manually.
# When EOD occurs, number of minutes in the past incoming messages will be saved. Used also for tuning.  24hours
EOD_SAVE_MINUTES[0]=0
#--If you are using FIX version 4.2 or later, and wish to use scheduled EOD, you may also supply these settings:
# Whether this side of connection initiates online EOD.  Y(default) or N
#EOD_INITIATOR[0]=N
# Grace period between two partners that agreed to perform online EOD. Used also for communication tuning. 0
EOD_LATENCY[0]=10
#---------------------------------------------------------------------
#4. Encryption Settings
# The encryption method ID agreed upon. 0= no encryption |2 = DES | 4 = PGP–DES | 5 = PGP–DES–MD5 | 6 = PEM–DES–MD5
ENCRYPT_METHOD[0]=0
#--If you selected ENCRYPT_METHOD=2 (DES), you must also supply the following:  NONE
# This is the key agreed upon by the two parties to be used for the encryption and decryption of all Logon messages.
#DES_MASTER_KEY[0]=mykey-chenyh
#--If you selected ENCRYPT_METHOD=4 (PGP – DES), you must also supply the following:
#The SunGard FIX Enginepartner's public key ID. NONE
#PGP_USER_ID[0]=PartnerID
#PGP password.  NONE
#PGP_PASSWORD[0]=Passwordxxxx
#A file name to be used in the process of encrypting and decrypting. This file is deleted immediately and is not accessible to the user.  NONE
#ENC_FILE_NAME[0]=EncFile.txt
#--If you selected ENCRYPT_METHOD=5 (PGP – DES – MD5), you must also supply the following:
#The FIX partner's public key ID. NONE
#PGP_USER_ID[0]=PartnerID
#PGP password. NONE
#PGP_PASSWORD[0]=Passwordxxxx
#A file name to be used in the process of encrypting and decrypting. This file is deleted immediately and is not accessible to the user. NONE
#ENC_FILE_NAME[0]=EncFile.txt
#--If you selected ENCRYPT_METHOD=6 (PEM – DES – MD5), you must also supply the following:
# The FIX partner's public key ID. NONE
#PEM_USER_ID[0]=PartnerID
# This is the password used to decrypt messages with SunGard’s private key.  NONE
#PEM_PASSWORD[0]=myKeyPassword
#A file name to be used in the process of encrypting and decrypting. This file is deleted immediately and is not accessible to the user. NONE
#ENC_FILE_NAME[0]=EncFile.txt
#--------------------------------------------------------
#5. TCP/IP Settings
#The point-to-point connection type. Indicates whether this session will act as a server or client when connecting to FIX partner(mandatory):  TCPClient or TCPServer or TCPDedicatedServer (NONE)
PTP_CONNECTION[0]=TCPServer
#Whether or not this session is responsible for initiating the logon with the other FIX partner(mandatory).  Y or N -- Must be N, when PTP_CONNECTION= TCPServer
LOGON_INITIATOR[0]=N
#Specifies the port number agreed between the client and server(mandatory).  NONE
TCP_PORT[0]=13001
#----
#Specifies the host name or IP address of the client that should connect to the SunGard FIX Engine. When this parameter is supplied, the client host is validated against the value of this parameter. When a segment of the IP is defined as *,the serverwill not validate against that segment. When it is not supplied, no validation is performed on the client host.
#TCP_CLIENT_HOST[0]=128.18.3.*
#--these parameters may be used when using TCPClient point-to-point connection:
# Specifies the host name or IP address of the server it should connect to. NONE
#TCP_SERVER_HOST[0]=128.23.35.1
# Specifies the interval time before the session attempts to re-open a failed connection. Used also for communication tuning.  5
#PTP_REOPEN_TIME[0]=5
#---------------------------------------------------------
#6. Supported Message Types
# Whether a long login should be initiated to report on supported message types to the FIX partner. Y(default) or N
SUPPORT_ROLE[0]=N
# Provides a list of message types allowed to be received by the connection.   ALL(default)  
#MSG_TYPES_SUPPORT_RECEIVE[0]=D,F,H,8,9
# Provides a list of message types allowed to be sent by the connection. ALL (default)
#MSG_TYPES_SUPPORT_SEND[0]=D,F,H,8,9
#7. Storage Definitions
# Whether messages and session database will be maintained in flat files or JDBC persistent database. FILE(default) or JDBC
STORAGE_TYPE[0]=FILE
# This is the name of the object holding all dynamic internal parameters of the session. If you're using file type storage, this is the name of the file. If you're using JDBC type storage, this is the name of the table. <SENDER_COMP_ID>_<TARGET_COMP_ID>(default)
#PERSISTENT_NAME[0]=LocalID_PartnerID
# Size of the storage cache. Used also for performance tuning.   1000
#STORAGE_CACHE_SIZE[0]=500
#9. Log Settings
# Indicates the level of logging to be used, that is whether only the basic (important) messages are written to the log, or whether all application errors are written to the log, including the heartbeat messages. Each level includes the messages of lower levels. Used also for performance tuning.
#             0 = Basic (important).    1 = Admin. messages (but not heartbeat).  2 = Application messages.  (default)3 = All messages (including heartbeat).
LOG_FILE_LEVEL=3
# Path to where log files will be kept.
LOG_FILE_DIRECTORY=.//FIXLOG
# The number of log lines written to a log file before an automatic flush is performed. Used also for performance tuning.  5
LOG_FILE_AUTO_FLUSH=100
#----------------------------------------------------------------------
#10. FIX 4.3 or later Parameters
#SENDER_PASSWORD[0]=
#SENDER_USERNAME[0]=
#TARGET_USERNAME[0]=
#TARGET_PASSWORD[0]=
#The session is either test or live.
#TEST_INDICATOR[0]=N

